Flask==3.0.3
python-docx==1.1.0
PyMuPDF==1.24.9    # untuk membaca PDF (fitz)
Pillow==10.4.0     # untuk image processing (PIL)
pytesseract==0.3.10  # untuk OCR text extraction dari images
PyPDF2==3.0.1      # untuk membaca PDF
reportlab==4.2.2   # untuk generate PDF reports
scikit-learn==1.5.1  # untuk TF-IDF dan cosine similarity
